In [27]:
folderPATH = "original_data/"
Entitypath = "DataWithNER/"

## Library import

In [29]:
import pandas as pd 
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval

## Data Preparation

In [30]:
userlvltrain = pd.read_csv(folderPATH+'userlvltrain.csv')
userlvltest = pd.read_csv(folderPATH+'userlvltest.csv')
userlvlval = pd.read_csv(folderPATH+'userlvlval.csv')

In [32]:
train = pd.read_csv(Entitypath+'/train_text.csv', 
                    converters={'mentionedLocationTweets': literal_eval, 
                                'mentionedEntityTweets':literal_eval,
                                'mentionedLocationDisplayname':literal_eval,
                                'mentionedEntityDisplayname':literal_eval,
                                'mentionedLocationUserdesc':literal_eval,
                                'mentionedEntityUserdesc':literal_eval,},  
                    index_col=[0])

test = pd.read_csv(Entitypath+'/test_text.csv', 
                   converters={'mentionedLocationTweets': literal_eval, 
                                'mentionedEntityTweets':literal_eval,
                                'mentionedLocationDisplayname':literal_eval,
                                'mentionedEntityDisplayname':literal_eval,
                                'mentionedLocationUserdesc':literal_eval,
                                'mentionedEntityUserdesc':literal_eval,}, 
                   index_col=[0])

val = pd.read_csv(Entitypath+'/val_text.csv', 
                  converters={'mentionedLocationTweets': literal_eval, 
                                'mentionedEntityTweets':literal_eval,
                                'mentionedLocationDisplayname':literal_eval,
                                'mentionedEntityDisplayname':literal_eval,
                                'mentionedLocationUserdesc':literal_eval,
                                'mentionedEntityUserdesc':literal_eval,}, 
                  index_col=[0])

train.mentionedLocationTweets = train.mentionedLocationTweets.apply(lambda x: ' '.join(map(str, x)))
test.mentionedLocationTweets = test.mentionedLocationTweets.apply(lambda x: ' '.join(map(str, x)))
val.mentionedLocationTweets = val.mentionedLocationTweets.apply(lambda x: ' '.join(map(str, x)))

train.mentionedEntityTweets = train.mentionedEntityTweets.apply(lambda x: ' '.join(map(str, x)))
test.mentionedEntityTweets = test.mentionedEntityTweets.apply(lambda x: ' '.join(map(str, x)))
val.mentionedEntityTweets = val.mentionedEntityTweets.apply(lambda x: ' '.join(map(str, x)))


train.mentionedLocationDisplayname = train.mentionedLocationDisplayname.apply(lambda x: ' '.join(map(str, x)))
test.mentionedLocationDisplayname = test.mentionedLocationDisplayname.apply(lambda x: ' '.join(map(str, x)))
val.mentionedLocationDisplayname = val.mentionedLocationDisplayname.apply(lambda x: ' '.join(map(str, x)))

train.mentionedEntityDisplayname = train.mentionedEntityDisplayname.apply(lambda x: ' '.join(map(str, x)))
test.mentionedEntityDisplayname = test.mentionedEntityDisplayname.apply(lambda x: ' '.join(map(str, x)))
val.mentionedEntityDisplayname = val.mentionedEntityDisplayname.apply(lambda x: ' '.join(map(str, x)))

train.mentionedLocationUserdesc = train.mentionedLocationUserdesc.apply(lambda x: ' '.join(map(str, x)))
test.mentionedLocationUserdesc = test.mentionedLocationUserdesc.apply(lambda x: ' '.join(map(str, x)))
val.mentionedLocationUserdesc = val.mentionedLocationUserdesc.apply(lambda x: ' '.join(map(str, x)))

train.mentionedEntityUserdesc = train.mentionedEntityUserdesc.apply(lambda x: ' '.join(map(str, x)))
test.mentionedEntityUserdesc = test.mentionedEntityUserdesc.apply(lambda x: ' '.join(map(str, x)))
val.mentionedEntityUserdesc = val.mentionedEntityUserdesc.apply(lambda x: ' '.join(map(str, x)))


train.head(4)

,Lvalue,isaPerson,screen_name,userLocation,userLocationCode,tweet_id,created_at,author_id,username,display_name,...,pl_country,pl_place_type,pl_geo_type,pl_geo_bbox,mentionedLocationTweets,mentionedEntityTweets,mentionedLocationDisplayname,mentionedEntityDisplayname,mentionedLocationUserdesc,mentionedEntityUserdesc
0,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525235083960321,2021-12-30 12:07:03+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,Mandiri Sekuritas.,,mandiri sekuritas,,
1,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525229258133504,2021-12-30 12:07:01+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,,,mandiri sekuritas,,
2,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525223247704068,2021-12-30 12:07:00+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,,,mandiri sekuritas,,
3,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525216951988230,2021-12-30 12:06:58+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,,,mandiri sekuritas,,

###  clean tweets

####  Cleaning

In [34]:
STOPWORDS = list(set(stopwords("id")))
STOPWORDS = set(STOPWORDS)
normal_regex = re.compile(r"(.)\1{1,}") 
remove_digits = re.compile(r"[^a-zA-z.,!?/:;\"\'\s]") 

def clean_text(teks):
    teks = str(teks)
    teks = unicodedata.normalize('NFKC', teks) 
    teks = re.sub(remove_digits, '', teks) #remove digits
    teks = teks.translate(str.maketrans('', '', string.punctuation)) #remove punctuation
    teks = teks.lower() #lowercase 
    if len(teks)>=20: #stopwords
      teks = ' '.join(word for word in teks.split() if word not in STOPWORDS)
    return teks

In [47]:
#display name 
train['display_name'] = train['display_name'].apply(clean_text)
train.mentionedLocationDisplayname = train['mentionedLocationDisplayname'].apply(clean_text)
train.mentionedEntityDisplayname = train['mentionedEntityDisplayname'].apply(clean_text)

test['display_name'] = test['display_name'].apply(clean_text)
test.mentionedLocationDisplayname = test['mentionedLocationDisplayname'].apply(clean_text)
test.mentionedEntityDisplayname = test['mentionedEntityDisplayname'].apply(clean_text)

val['display_name'] = val['display_name'].apply(clean_text)
val.mentionedLocationDisplayname = val['mentionedLocationDisplayname'].apply(clean_text)
val.mentionedEntityDisplayname = val['mentionedEntityDisplayname'].apply(clean_text)

#description

train['description'] = train['description'].apply(clean_text)
train.mentionedLocationUserdesc = train['mentionedLocationUserdesc'].apply(clean_text)
train.mentionedEntityUserdesc = train['mentionedEntityUserdesc'].apply(clean_text)

test['description'] = test['description'].apply(clean_text)
test.mentionedLocationUserdesc = test['mentionedLocationUserdesc'].apply(clean_text)
test.mentionedEntityUserdesc = test['mentionedEntityUserdesc'].apply(clean_text)

val['description'] = val['description'].apply(clean_text)
val.mentionedLocationUserdesc = val['mentionedLocationUserdesc'].apply(clean_text)
val.mentionedEntityUserdesc = val['mentionedEntityUserdesc'].apply(clean_text)

#tweets 
train['text'] = train['text'].apply(clean_text)
train.mentionedLocationTweets = train['mentionedLocationTweets'].apply(clean_text)
train.mentionedEntityTweets = train['mentionedEntityTweets'].apply(clean_text)

test['text'] = test['text'].apply(clean_text)
test.mentionedLocationTweets = test['mentionedLocationTweets'].apply(clean_text)
test.mentionedEntityTweets = test['mentionedEntityTweets'].apply(clean_text)

val['text'] = val['text'].apply(clean_text)
val.mentionedLocationTweets = val['mentionedLocationTweets'].apply(clean_text)
val.mentionedEntityTweets = val['mentionedEntityTweets'].apply(clean_text)

In [25]:
train_df.to_csv('revision_dataset/train_df.csv', index=False)  
test_df.to_csv('revision_dataset/test_df.csv', index=False)  
val_df.to_csv('revision_dataset/val_df.csv', index=False)

In [53]:
train

,Lvalue,isaPerson,screen_name,userLocation,userLocationCode,tweet_id,created_at,author_id,username,display_name,...,pl_country,pl_place_type,pl_geo_type,pl_geo_bbox,mentionedLocationTweets,mentionedEntityTweets,mentionedLocationDisplayname,mentionedEntityDisplayname,mentionedLocationUserdesc,mentionedEntityUserdesc
0,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525235083960321,2021-12-30 12:07:03+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,mandiri sekuritas,,mandiri sekuritas,,
1,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525229258133504,2021-12-30 12:07:01+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,,,mandiri sekuritas,,
2,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525223247704068,2021-12-30 12:07:00+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,,,mandiri sekuritas,,
3,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525216951988230,2021-12-30 12:06:58+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,,,mandiri sekuritas,,
4,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525210606063620,2021-12-30 12:06:57+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,mandiri sekuritas,,mandiri sekuritas,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85329,2,person,nurshe,jawa barat dan banten,JB&BT,1460848401692565509,2021-11-17 05:52:54+00:00,99895482,nurshe,hikari minori,...,NaN,NaN,NaN,NaN,,,,,,
85330,2,person,nurshe,jawa barat dan banten,JB&BT,1460848330645245957,2021-11-17 05:52:37+00:00,99895482,nurshe,hikari minori,...,NaN,NaN,NaN,NaN,,,,,,
85331,2,person,nurshe,jawa barat dan banten,JB&BT,1460846614671618049,2021-11-17 05:45:48+00:00,99895482,nurshe,hikari minori,...,NaN,NaN,NaN,NaN,,,,,,
85332,2,person,nurshe,jawa barat dan banten,JB&BT,1460846186408005639,2021-11-17 05:44:06+00:00,99895482,nurshe,hikari minori,...,NaN,NaN,NaN,NaN,,nova,,,,
85333,2,person,nurshe,jawa barat dan banten,JB&BT,1460845233604730886,2021-11-17 05:40:19+00:00,99895482,nurshe,hikari minori,...,NaN,NaN,NaN,NaN,,nur,,,,

In [68]:
train_df = train.copy()
val_df = val.copy()
test_df = test.copy()

### concat displayname with entity

## Model Preparation

In [67]:
train_df

,Lvalue,isaPerson,screen_name,userLocation,userLocationCode,tweet_id,created_at,author_id,username,display_name,...,pl_country,pl_place_type,pl_geo_type,pl_geo_bbox,mentionedLocationTweets,mentionedEntityTweets,mentionedLocationDisplayname,mentionedEntityDisplayname,mentionedLocationUserdesc,mentionedEntityUserdesc
0,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525235083960321,2021-12-30 12:07:03+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,mandiri sekuritas,,mandiri sekuritas,,
1,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525229258133504,2021-12-30 12:07:01+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,,,mandiri sekuritas,,
2,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525223247704068,2021-12-30 12:07:00+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,,,mandiri sekuritas,,
3,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525216951988230,2021-12-30 12:06:58+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,,,mandiri sekuritas,,
4,1,nonperson,Mandiri_OLT,jabodetabek,JBD,1476525210606063620,2021-12-30 12:06:57+00:00,148198201,Mandiri_OLT,mandiri sekuritas,...,NaN,NaN,NaN,NaN,,mandiri sekuritas,,mandiri sekuritas,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85329,2,person,nurshe,jawa barat dan banten,JB&BT,1460848401692565509,2021-11-17 05:52:54+00:00,99895482,nurshe,hikari minori,...,NaN,NaN,NaN,NaN,,,,,,
85330,2,person,nurshe,jawa barat dan banten,JB&BT,1460848330645245957,2021-11-17 05:52:37+00:00,99895482,nurshe,hikari minori,...,NaN,NaN,NaN,NaN,,,,,,
85331,2,person,nurshe,jawa barat dan banten,JB&BT,1460846614671618049,2021-11-17 05:45:48+00:00,99895482,nurshe,hikari minori,...,NaN,NaN,NaN,NaN,,,,,,
85332,2,person,nurshe,jawa barat dan banten,JB&BT,1460846186408005639,2021-11-17 05:44:06+00:00,99895482,nurshe,hikari minori,...,NaN,NaN,NaN,NaN,,nova,,,,
85333,2,person,nurshe,jawa barat dan banten,JB&BT,1460845233604730886,2021-11-17 05:40:19+00:00,99895482,nurshe,hikari minori,...,NaN,NaN,NaN,NaN,,nur,,,,

In [49]:
# !pip install scikit-learn-intelex -q

In [50]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression


from sklearnex import patch_sklearn 
patch_sklearn()

from sklearn import svm
import warnings
warnings.filterwarnings('ignore')  # "error", "ignore", "always", "default", "module" or "once"

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [51]:
nb = Pipeline([
               ('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', MultinomialNB()),
              ])
svm = Pipeline([
                ('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', svm.SVC()),
               ])
logreg = Pipeline([
                   ('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', LogisticRegression(solver='lbfgs', multi_class='multinomial')),
               ])

## Menggunakan display name saja

### Concat display name with entity

In [69]:
#metadata features tapi hanya menggunakan single occurence saja
train_df['entityDisplaynameConcat'] = train_df['display_name']+" "+train_df['mentionedEntityDisplayname'] 
test_df['entityDisplaynameConcat'] = test_df['display_name']+" "+test_df['mentionedEntityDisplayname'] 
val_df['entityDisplaynameConcat'] = val_df['display_name']+" "+val_df['mentionedEntityDisplayname'] 

train_df['entityDisplaynameConcat'] = train_df['entityDisplaynameConcat'].astype('str') 
test_df['entityDisplaynameConcat'] = test_df['entityDisplaynameConcat'].astype('str')  
val_df['entityDisplaynameConcat'] = val_df['entityDisplaynameConcat'].astype('str') 

x_train_df = train_df[['isaPerson', 'display_name', 'screen_name', 'description', 'entityDisplaynameConcat']].drop_duplicates(keep='first')
y_train_df = userlvltrain['Lvalue']

x_test_df = test_df[['isaPerson', 'display_name', 'screen_name', 'description',  'entityDisplaynameConcat']].drop_duplicates(keep='first')
y_test_df = userlvltest['Lvalue']

x_val_df = val_df[['isaPerson', 'display_name', 'screen_name', 'description',  'entityDisplaynameConcat']].drop_duplicates(keep='first')
y_val_df = userlvlval['Lvalue']

In [70]:
y_pred_uname = []

In [71]:
## Naive Bayes 
nb.fit(x_train_df['entityDisplaynameConcat'], y_train_df)
y_pred = nb.predict(x_test_df['entityDisplaynameConcat'])
y_pred_uname.append(y_pred)
print('Naive Bayes accuracy %s' % round(accuracy_score(y_pred, y_test_df),2 )) 
print(classification_report(y_test_df, y_pred,target_names=label_names))

## Linear SVM 
svm.fit(x_train_df['entityDisplaynameConcat'], y_train_df)
y_pred = svm.predict(x_test_df['entityDisplaynameConcat'])
y_pred_uname.append(y_pred)
print('SVM accuracy %s' % round(accuracy_score(y_pred, y_test_df),2 )) 
print(classification_report(y_test_df, y_pred,target_names=label_names))

# logistic regression 
logreg.fit(x_train_df['entityDisplaynameConcat'], y_train_df)
y_pred = logreg.predict(x_test_df['entityDisplaynameConcat'])
y_pred_uname.append(y_pred)
print('Logreg accuracy: %s' % round(accuracy_score(y_pred, y_test_df),2 )) 
print(classification_report(y_test_df, y_pred,target_names=label_names))

Naive Bayes accuracy 0.4
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.80      0.31      0.44        26
               jabodetabek       0.73      0.29      0.41        28
     jawa barat dan banten       0.62      0.30      0.41        33
jawa tengah dan yogyakarta       0.23      0.92      0.37        36
                jawa timur       0.48      0.29      0.36        34
                kalimantan       0.78      0.32      0.45        22
          maluku dan papua       0.73      0.35      0.47        23
                  sulawesi       1.00      0.30      0.46        20
                  sumatera       0.46      0.38      0.42        29

                  accuracy                           0.40       251
                 macro avg       0.65      0.38      0.42       251
              weighted avg       0.61      0.40      0.42       251

SVM accuracy 0.4
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.86      0.23      0.36        26
               jabodetabek       0.58      0.25      0.35        28
     jawa barat dan banten       0.67      0.30      0.42        33
jawa tengah dan yogyakarta       0.23      0.92      0.37        36
                jawa timur       0.37      0.38      0.38        34
                kalimantan       1.00      0.32      0.48        22
          maluku dan papua       1.00      0.35      0.52        23
                  sulawesi       1.00      0.35      0.52        20
                  sumatera       0.56      0.34      0.43        29

                  accuracy                           0.40       251
                 macro avg       0.70      0.38      0.42       251
              weighted avg       0.65      0.40      0.42       251

Logreg accuracy: 0.4
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.89      0.31      0.46        26
               jabodetabek       0.57      0.29      0.38        28
     jawa barat dan banten       0.67      0.30      0.42        33
jawa tengah dan yogyakarta       0.61      0.31      0.41        36
                jawa timur       0.20      0.88      0.33        34
                kalimantan       0.78      0.32      0.45        22
          maluku dan papua       0.89      0.35      0.50        23
                  sulawesi       1.00      0.40      0.57        20
                  sumatera       0.48      0.34      0.40        29

                  accuracy                           0.40       251
                 macro avg       0.68      0.39      0.43       251
              weighted avg       0.64      0.40      0.42       251

## Menggunakan user description saja

### Concat description with Entity

In [81]:
train_df['entityUserdescConcat'] = train_df['description']+" "+train_df['mentionedEntityUserdesc'] 
test_df['entityUserdescConcat'] = test_df['description']+" "+test_df['mentionedEntityUserdesc'] 
val_df['entityUserdescConcat'] = val_df['description']+" "+val_df['mentionedEntityUserdesc'] 

train_df['entityUserdescConcat'] = train_df['entityUserdescConcat'].astype('str') 
test_df['entityUserdescConcat'] = test_df['entityUserdescConcat'].astype('str')  
val_df['entityUserdescConcat'] = val_df['entityUserdescConcat'].astype('str') 

x_train_df = train_df[['isaPerson', 'display_name', 'screen_name', 'description', 'entityUserdescConcat']].drop_duplicates(keep='first')
y_train_df = userlvltrain['Lvalue']

x_test_df = test_df[['isaPerson', 'display_name', 'screen_name', 'description',  'entityUserdescConcat']].drop_duplicates(keep='first')
y_test_df = userlvltest['Lvalue']

x_val_df = val_df[['isaPerson', 'display_name', 'screen_name', 'description',  'entityUserdescConcat']].drop_duplicates(keep='first')
y_val_df = userlvlval['Lvalue']

In [84]:
y_pred_desc = []

In [85]:
## Naive Bayes 
nb.fit(x_train_df['entityUserdescConcat'], y_train_df)
y_pred = nb.predict(x_test_df['entityUserdescConcat'])
y_pred_desc.append(y_pred)
print('Naive Bayes accuracy %s' % round(accuracy_score(y_pred, y_test_df),2 )) 
print(classification_report(y_test_df, y_pred,target_names=label_names))

## Linear SVM 
svm.fit(x_train_df['entityUserdescConcat'], y_train_df)
y_pred = svm.predict(x_test_df['entityUserdescConcat'])
y_pred_desc.append(y_pred)
print('SVM accuracy %s' % round(accuracy_score(y_pred, y_test_df),2 )) 
print(classification_report(y_test_df, y_pred,target_names=label_names))

# logistic regression 
logreg.fit(x_train_df['entityUserdescConcat'], y_train_df)
y_pred = logreg.predict(x_test_df['entityUserdescConcat'])
y_pred_desc.append(y_pred)
print('Logreg accuracy: %s' % round(accuracy_score(y_pred, y_test_df),2 )) 
print(classification_report(y_test_df, y_pred,target_names=label_names))

Naive Bayes accuracy 0.39
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.73      0.31      0.43        26
               jabodetabek       0.30      0.21      0.25        28
     jawa barat dan banten       0.45      0.39      0.42        33
jawa tengah dan yogyakarta       0.33      0.53      0.40        36
                jawa timur       0.31      0.50      0.39        34
                kalimantan       0.88      0.32      0.47        22
          maluku dan papua       0.92      0.48      0.63        23
                  sulawesi       1.00      0.15      0.26        20
                  sumatera       0.27      0.52      0.35        29

                  accuracy                           0.39       251
                 macro avg       0.58      0.38      0.40       251
              weighted avg       0.53      0.39      0.40       251

SVM accuracy 0.41
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.83      0.38      0.53        26
               jabodetabek       0.33      0.21      0.26        28
     jawa barat dan banten       0.86      0.36      0.51        33
jawa tengah dan yogyakarta       0.25      0.78      0.38        36
                jawa timur       0.33      0.32      0.33        34
                kalimantan       1.00      0.32      0.48        22
          maluku dan papua       0.91      0.43      0.59        23
                  sulawesi       1.00      0.35      0.52        20
                  sumatera       0.32      0.41      0.36        29

                  accuracy                           0.41       251
                 macro avg       0.65      0.40      0.44       251
              weighted avg       0.60      0.41      0.43       251

Logreg accuracy: 0.43
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.55      0.42      0.48        26
               jabodetabek       0.30      0.32      0.31        28
     jawa barat dan banten       0.62      0.39      0.48        33
jawa tengah dan yogyakarta       0.28      0.58      0.38        36
                jawa timur       0.45      0.41      0.43        34
                kalimantan       1.00      0.32      0.48        22
          maluku dan papua       0.92      0.48      0.63        23
                  sulawesi       1.00      0.40      0.57        20
                  sumatera       0.28      0.45      0.34        29

                  accuracy                           0.43       251
                 macro avg       0.60      0.42      0.46       251
              weighted avg       0.56      0.43      0.45       251

## Menggunakan only user Tweets (Tweets Aggregation as one)

### Concat Tweet with Entity

In [97]:
train_df['entityTweetsConcat'] = train_df['text']+" "+train_df['mentionedEntityTweets'] 
test_df['entityTweetsConcat'] = test_df['text']+" "+test_df['mentionedEntityTweets'] 
val_df['entityTweetsConcat'] = val_df['text']+" "+val_df['mentionedEntityTweets'] 

train_df['entityTweetsConcat'] = train_df['entityTweetsConcat'].astype('str') 
test_df['entityTweetsConcat'] = test_df['entityTweetsConcat'].astype('str')  
val_df['entityTweetsConcat'] = val_df['entityTweetsConcat'].astype('str') 

x_train_df = train_df[['isaPerson', 'display_name', 'screen_name', 'description', 'entityTweetsConcat']].drop_duplicates(keep='first')
y_train_df = userlvltrain['Lvalue']

x_test_df = test_df[['isaPerson', 'display_name', 'screen_name', 'description',  'entityTweetsConcat']].drop_duplicates(keep='first')
y_test_df = userlvltest['Lvalue']

x_val_df = val_df[['isaPerson', 'display_name', 'screen_name', 'description',  'entityTweetsConcat']].drop_duplicates(keep='first')
y_val_df = userlvlval['Lvalue']

In [98]:
if not os.path.exists('DataWithNERConcat/train_df.csv'):
    train_df.to_csv('DataWithNERConcat/train_df.csv')
if not os.path.exists('DataWithNERConcat/test_df.csv'):
    test_df.to_csv('DataWithNERConcat/test_df.csv')
if not os.path.exists('DataWithNERConcat/val_df.csv'):
    val_df.to_csv('DataWithNERConcat/val_df.csv')

In [100]:
aggtrain_df = train_df[['screen_name','username','description','text', 'entityTweetsConcat']].copy()
aggtrain_df = aggtrain_df.groupby(['screen_name'])['entityTweetsConcat'].transform(lambda x: ' '.join(x))
aggtrain_df = aggtrain_df.drop_duplicates()

aggtest_df = test_df[['screen_name','username','description','text', 'entityTweetsConcat']].copy()
aggtest_df = aggtest_df.groupby(['screen_name'])['entityTweetsConcat'].transform(lambda x: ' '.join(x))
aggtest_df = aggtest_df.drop_duplicates()

aggval_df = val_df[['screen_name','username','description','text', 'entityTweetsConcat']].copy()
aggval_df = aggval_df.groupby(['screen_name'])['entityTweetsConcat'].transform(lambda x: ' '.join(x))
aggval_df = aggval_df.drop_duplicates()

if not os.path.exists('DataWithNERConcat/tweetAgg/aggtrain_df.csv'): 
    aggtrain_df.to_csv('DataWithNERConcat/tweetAgg/aggtrain_df.csv', index=False)
if not os.path.exists('DataWithNERConcat/tweetAgg/aggtest_df.csv'): 
    aggtest_df.to_csv('DataWithNERConcat/tweetAgg/aggtest_df.csv', index=False)
if not os.path.exists('DataWithNERConcat/tweetAgg/aggval_df.csv'): 
    aggval_df.to_csv('DataWithNERConcat/tweetAgg/aggval_df.csv', index=False)

### Machine Learning

In [101]:
y_pred_tweets = []

In [102]:
%%time
## Naive Bayes 
nb.fit(aggtrain_df, y_train_df)
y_pred = nb.predict(aggtest_df)
y_pred_tweets.append(y_pred)
print('Naive Bayes accuracy %s' % round(accuracy_score(y_test_df,y_pred),2 ))
print(classification_report(y_test_df, y_pred,target_names=label_names))

## Linear SVM 
svm.fit(aggtrain_df , y_train_df)
y_pred = svm.predict(aggtest_df)
y_pred_tweets.append(y_pred)
print('SVM accuracy %s' % round(accuracy_score(y_test_df,y_pred),2 ))
print(classification_report(y_test_df, y_pred,target_names=label_names))

## LogReg
logreg.fit(aggtrain_df , y_train_df)
y_pred = logreg.predict(aggtest_df)
y_pred_tweets.append(y_pred)
print('Logreg accuracy %s' % round(accuracy_score(y_test_df,y_pred),2 ))
print(classification_report(y_test_df, y_pred,target_names=label_names))

Naive Bayes accuracy 0.57
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.92      0.46      0.62        26
               jabodetabek       0.54      0.25      0.34        28
     jawa barat dan banten       0.75      0.73      0.74        33
jawa tengah dan yogyakarta       0.29      0.97      0.45        36
                jawa timur       0.80      0.71      0.75        34
                kalimantan       1.00      0.23      0.37        22
          maluku dan papua       1.00      0.61      0.76        23
                  sulawesi       1.00      0.35      0.52        20
                  sumatera       0.82      0.48      0.61        29

                  accuracy                           0.57       251
                 macro avg       0.79      0.53      0.57       251
              weighted avg       0.76      0.57      0.58       251

SVM accuracy 0.57
                            precision    recall  f1-score   support

    bali dan nusa tenggara       1.00      0.46      0.63        26
               jabodetabek       0.32      0.61      0.42        28
     jawa barat dan banten       0.76      0.58      0.66        33
jawa tengah dan yogyakarta       0.41      0.86      0.55        36
                jawa timur       0.67      0.65      0.66        34
                kalimantan       1.00      0.32      0.48        22
          maluku dan papua       1.00      0.52      0.69        23
                  sulawesi       1.00      0.35      0.52        20
                  sumatera       0.65      0.59      0.62        29

                  accuracy                           0.57       251
                 macro avg       0.76      0.55      0.58       251
              weighted avg       0.72      0.57      0.58       251

Logreg accuracy 0.68
                            precision    recall  f1-score   support

    bali dan nusa tenggara       1.00      0.62      0.76        26
               jabodetabek       0.47      0.57      0.52        28
     jawa barat dan banten       0.67      0.85      0.75        33
jawa tengah dan yogyakarta       0.55      0.86      0.67        36
                jawa timur       0.74      0.82      0.78        34
                kalimantan       1.00      0.36      0.53        22
          maluku dan papua       1.00      0.70      0.82        23
                  sulawesi       0.91      0.50      0.65        20
                  sumatera       0.60      0.62      0.61        29

                  accuracy                           0.68       251
                 macro avg       0.77      0.66      0.68       251
              weighted avg       0.74      0.68      0.68       251

CPU times: user 4min 24s, sys: 6min 1s, total: 10min 25s
Wall time: 15 s

### LSTM

Link to [LSTM Agg](LSTM-agg.ipynb)

accuracy 0.14
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.00      0.00      0.00        26
               jabodetabek       0.00      0.00      0.00        28
     jawa barat dan banten       0.00      0.00      0.00        32
jawa tengah dan yogyakarta       0.14      1.00      0.25        36
                jawa timur       0.00      0.00      0.00        34
                kalimantan       0.00      0.00      0.00        22
          maluku dan papua       0.00      0.00      0.00        23
                  sulawesi       0.00      0.00      0.00        20
                  sumatera       0.00      0.00      0.00        29

                  accuracy                           0.14       250
                 macro avg       0.02      0.11      0.03       250
              weighted avg       0.02      0.14      0.04       250

### BERT based

link to [indoBERTweet](IndoBERTtweet-2e5-4%20epochs-Agg.ipynb)
<br>link to [indoNLU](indoNLU2e-5batch16-Agg.ipynb)
<br>link to [indoLEM](indoLEM2e-5batch16-Agg.ipynb)

indoBERTweet 

accuracy 0.37
                            precision    recall  f1-score   support

    bali dan nusa tenggara       1.00      0.04      0.07        26
               jabodetabek       0.67      0.14      0.24        28
     jawa barat dan banten       0.35      0.84      0.50        32
jawa tengah dan yogyakarta       0.48      0.33      0.39        36
                jawa timur       0.48      0.29      0.36        34
                kalimantan       0.00      0.00      0.00        22
          maluku dan papua       0.72      0.78      0.75        23
                  sulawesi       0.08      0.05      0.06        20
                  sumatera       0.23      0.66      0.35        29

                  accuracy                           0.37       250
                 macro avg       0.44      0.35      0.30       250
              weighted avg       0.46      0.37      0.32       250

              
indoLEM 

accuracy 0.72
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.74      0.65      0.69        26
               jabodetabek       0.48      0.71      0.57        28
     jawa barat dan banten       0.80      0.75      0.77        32
jawa tengah dan yogyakarta       0.74      0.69      0.71        36
                jawa timur       0.63      0.71      0.67        34
                kalimantan       1.00      0.68      0.81        22
          maluku dan papua       0.81      0.96      0.88        23
                  sulawesi       0.88      0.70      0.78        20
                  sumatera       0.80      0.69      0.74        29

                  accuracy                           0.72       250
                 macro avg       0.76      0.73      0.74       250
              weighted avg       0.75      0.72      0.73       250
              
indoNLU 

accuracy 0.75
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.83      0.73      0.78        26
               jabodetabek       0.57      0.61      0.59        28
     jawa barat dan banten       0.68      0.84      0.75        32
jawa tengah dan yogyakarta       0.71      0.83      0.77        36
                jawa timur       0.74      0.74      0.74        34
                kalimantan       0.79      0.68      0.73        22
          maluku dan papua       0.91      0.91      0.91        23
                  sulawesi       0.88      0.75      0.81        20
                  sumatera       0.86      0.66      0.75        29

                  accuracy                           0.75       250
                 macro avg       0.77      0.75      0.76       250
              weighted avg       0.76      0.75      0.75       250

In [273]:
indoNLU = pd.read_csv('bert_result/indoNLU2e_5Results.csv', index_col=0)
indoNLU['0'].values

array([2, 3, 4, 0, 4, 1, 7, 4, 5, 2, 1, 7, 3, 5, 7, 0, 2, 1, 4, 2, 6, 2,
       7, 4, 2, 2, 2, 3, 3, 3, 2, 3, 1, 8, 2, 0, 1, 8, 6, 1, 8, 2, 2, 5,
       7, 3, 2, 3, 6, 0, 3, 4, 4, 1, 1, 5, 4, 0, 1, 2, 0, 4, 0, 3, 3, 3,
       4, 5, 7, 3, 3, 7, 3, 3, 3, 4, 3, 4, 6, 6, 5, 8, 5, 1, 1, 3, 7, 0,
       0, 8, 6, 0, 3, 2, 5, 5, 2, 2, 7, 1, 2, 6, 2, 4, 0, 4, 3, 5, 1, 2,
       0, 2, 3, 3, 8, 2, 0, 8, 4, 0, 4, 8, 2, 7, 3, 1, 2, 5, 6, 3, 3, 3,
       2, 4, 4, 4, 4, 8, 3, 2, 1, 1, 7, 8, 5, 5, 3, 1, 6, 6, 7, 2, 6, 5,
       2, 6, 0, 6, 1, 6, 8, 0, 7, 4, 1, 0, 4, 8, 1, 3, 6, 4, 4, 6, 1, 1,
       3, 8, 3, 2, 3, 6, 2, 6, 3, 8, 1, 7, 6, 0, 5, 1, 8, 3, 1, 8, 8, 2,
       0, 1, 2, 0, 4, 6, 2, 2, 6, 4, 0, 4, 6, 5, 0, 8, 4, 4, 7, 4, 1, 3,
       2, 8, 5, 2, 6, 3, 8, 8, 4, 4, 2, 1, 7, 2, 3, 0, 8, 1, 2, 5, 3, 4,
       1, 7, 3, 2, 5, 4, 3, 3])

In [274]:
print('IndoNLU accuracy %s' % round(accuracy_score(y_test_df, indoNLU['0'].values),2 ))
print(classification_report(y_test_df, indoNLU['0'].values,target_names=label_names))

IndoNLU accuracy 0.75
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.83      0.73      0.78        26
               jabodetabek       0.57      0.61      0.59        28
     jawa barat dan banten       0.68      0.84      0.75        32
jawa tengah dan yogyakarta       0.71      0.83      0.77        36
                jawa timur       0.74      0.74      0.74        34
                kalimantan       0.79      0.68      0.73        22
          maluku dan papua       0.91      0.91      0.91        23
                  sulawesi       0.88      0.75      0.81        20
                  sumatera       0.86      0.66      0.75        29

                  accuracy                           0.75       250
                 macro avg       0.77      0.75      0.76       250
              weighted avg       0.76      0.75      0.75       250

## Vote

In [275]:
vote_df1 = pd.DataFrame({'uname_nb': y_pred_uname[0], 'uname_svm':  y_pred_uname[1], 'uname_lr': y_pred_uname[2],
                        'desc_nb': y_pred_desc[0], 'desc_svm':  y_pred_desc[1], 'desc_lr': y_pred_desc[2],
                        'tweets_nb': y_pred_tweets[0], 'tweets_svm':  y_pred_tweets[1], 'tweets_lr': y_pred_tweets[2],
                        'tweets_indoNLU' : indoNLU['0'].values
                       })
vote_df1

mode_nb = vote_df1[['uname_nb', 'desc_nb', 'tweets_nb']].mode(axis=1)
vote_df1['majority_nb'] = np.where(mode_nb.isna().any(1), mode_nb[0], mode_nb[2])

mode_svm = vote_df1[['uname_svm', 'desc_svm', 'tweets_svm']].mode(axis=1)
vote_df1['majority_svm'] = np.where(mode_svm.isna().any(1), mode_svm[0], mode_svm[2])

mode_lr = vote_df1[['uname_lr', 'desc_lr', 'tweets_lr']].mode(axis=1)
vote_df1['majority_lr'] = np.where(mode_lr.isna().any(1), mode_lr[0], mode_lr[2])

mode_indoNLU = vote_df1[['uname_lr', 'desc_lr', 'tweets_indoNLU']].mode(axis=1)
vote_df1['majority_indoNLU'] = np.where(mode_indoNLU.isna().any(1), mode_indoNLU[0], mode_indoNLU[2])

vote_df1 = vote_df1.astype(int)
vote_df1

,uname_nb,uname_svm,uname_lr,desc_nb,desc_svm,desc_lr,tweets_nb,tweets_svm,tweets_lr,tweets_indoNLU,majority_nb,majority_svm,majority_lr,majority_indoNLU
0,3,3,3,3,8,3,3,3,2,2,3,3,3,3
1,3,3,3,4,3,1,3,3,3,3,3,3,3,3
2,3,3,3,8,3,8,3,3,3,4,3,3,3,8
3,3,3,3,3,3,3,1,1,1,0,3,3,3,3
4,3,3,3,1,1,1,3,3,3,4,3,3,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,4,4,4,2,3,2,2,2,2,2,2,4,2,2
246,3,3,3,3,3,3,3,3,3,5,3,3,3,3
247,3,3,3,8,3,8,4,4,4,4,8,3,8,8
248,3,3,3,3,3,3,3,3,3,3,3,3,3,3
249,3,3,3,1,1,1,3,3,3,3,3,3,3,3

In [276]:
## Naive Bayes 
print('Naive Bayes accuracy %s' % round(accuracy_score(y_test_df, vote_df1.majority_nb),2 ))
print(classification_report(y_test_df, vote_df1.majority_nb,target_names=label_names))

## SVM
print('SVM accuracy %s' % round(accuracy_score(y_test_df, vote_df1.majority_svm),2 ))
print(classification_report(y_test_df, vote_df1.majority_svm,target_names=label_names))

## LR 

print('LR accuracy %s' % round(accuracy_score(y_test_df, vote_df1.majority_lr),2 ))
print(classification_report(y_test_df, vote_df1.majority_lr,target_names=label_names))

## IndoBERTweet

print('IndoNLU accuracy %s' % round(accuracy_score(y_test_df, vote_df1.majority_indoNLU),2 ))
print(classification_report(y_test_df, vote_df1.majority_indoNLU,target_names=label_names))

Naive Bayes accuracy 0.4
                            precision    recall  f1-score   support

    bali dan nusa tenggara       1.00      0.19      0.32        26
               jabodetabek       0.60      0.11      0.18        28
     jawa barat dan banten       0.78      0.44      0.56        32
jawa tengah dan yogyakarta       0.25      0.97      0.40        36
                jawa timur       0.41      0.35      0.38        34
                kalimantan       1.00      0.18      0.31        22
          maluku dan papua       0.75      0.39      0.51        23
                  sulawesi       1.00      0.30      0.46        20
                  sumatera       0.34      0.38      0.36        29

                  accuracy                           0.40       250
                 macro avg       0.68      0.37      0.39       250
              weighted avg       0.64      0.40      0.39       250

SVM accuracy 0.37
                            precision    recall  f1-score   support

    bali dan nusa tenggara       1.00      0.19      0.32        26
               jabodetabek       0.50      0.04      0.07        28
     jawa barat dan banten       0.85      0.34      0.49        32
jawa tengah dan yogyakarta       0.23      0.97      0.38        36
                jawa timur       0.53      0.29      0.38        34
                kalimantan       0.71      0.23      0.34        22
          maluku dan papua       0.80      0.35      0.48        23
                  sulawesi       1.00      0.25      0.40        20
                  sumatera       0.30      0.41      0.35        29

                  accuracy                           0.37       250
                 macro avg       0.66      0.34      0.36       250
              weighted avg       0.62      0.37      0.36       250

LR accuracy 0.46
                            precision    recall  f1-score   support

    bali dan nusa tenggara       1.00      0.31      0.47        26
               jabodetabek       0.62      0.18      0.28        28
     jawa barat dan banten       0.82      0.44      0.57        32
jawa tengah dan yogyakarta       0.29      0.97      0.45        36
                jawa timur       0.45      0.44      0.45        34
                kalimantan       0.86      0.27      0.41        22
          maluku dan papua       0.71      0.43      0.54        23
                  sulawesi       1.00      0.35      0.52        20
                  sumatera       0.41      0.52      0.45        29

                  accuracy                           0.46       250
                 macro avg       0.69      0.43      0.46       250
              weighted avg       0.65      0.46      0.46       250

IndoNLU accuracy 0.53
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.92      0.46      0.62        26
               jabodetabek       0.70      0.25      0.37        28
     jawa barat dan banten       0.82      0.44      0.57        32
jawa tengah dan yogyakarta       0.33      0.89      0.48        36
                jawa timur       0.55      0.50      0.52        34
                kalimantan       0.85      0.50      0.63        22
          maluku dan papua       0.70      0.61      0.65        23
                  sulawesi       0.80      0.40      0.53        20
                  sumatera       0.46      0.62      0.53        29

                  accuracy                           0.53       250
                 macro avg       0.68      0.52      0.54       250
              weighted avg       0.66      0.53      0.54       250

## Menggunakan only user Tweets (Majority Voting)

In [418]:
y_pred_tweets = []

In [419]:
tweets_xtrain_df, tweets_xtest_df, tweets_xval_df = train_df['text'], test_df['text'], val_df['text']
tweets_ytrain_df, tweets_ytest_df, tweets_yval_df  = train_df['Lvalue'], test_df['Lvalue'], val_df['Lvalue']

### NB, SVM, Logreg

In [420]:
tweet_analysis = test_df[['screen_name','text','userLocation','Lvalue']].copy()
tweet_analysis

,screen_name,text,userLocation,Lvalue
0,arshere,eoy semangattt semoga ga malem banget baliknya...,sumatera,8
1,arshere,semangat melewati motivasinya ntr cuti tp ntr ...,sumatera,8
2,arshere,iya banget tp apadaya,sumatera,8
3,arshere,emang anak goa ga bersosialisasi,sumatera,8
4,arshere,gini ya,sumatera,8
...,...,...,...,...
23266,AangMunawar21,bagus dong wkwk,jawa tengah dan yogyakarta,3
23267,AangMunawar21,de best jaman kuliah,jawa tengah dan yogyakarta,3
23268,AangMunawar21,indihome gangguan,jawa tengah dan yogyakarta,3
23269,AangMunawar21,gak sia sia masang odegard ama ramsdale wkwk,jawa tengah dan yogyakarta,3
23270,AangMunawar21,report white apaandah main nya passing nya duh...,jawa tengah dan yogyakarta,3

In [421]:
%%time
## Naive Bayes 
nb.fit(tweets_xtrain_df, tweets_ytrain_df)
newy_pred = nb.predict(tweets_xtest_df)
pred = test_df[['screen_name']].copy()
pred['Lpredict'] = newy_pred
tweet_analysis['Lpredict_nb'] = newy_pred 
y_pred = pred.groupby(['screen_name'], sort=False).agg(lambda x:x.value_counts().index[0])
y_pred_tweets.append(y_pred)
print('Naive Bayes accuracy %s' % round(accuracy_score(y_pred, y_test_df),2 ))
print(classification_report(y_test_df, y_pred,target_names=label_names))

## Linear SVM 
svm.fit(tweets_xtrain_df , tweets_ytrain_df)
newy_pred = svm.predict(tweets_xtest_df)
pred = test_df[['screen_name']].copy()
pred['Lpredict'] = newy_pred
tweet_analysis['Lpredict_svm'] = newy_pred
y_pred = pred.groupby(['screen_name'], sort=False).agg(lambda x:x.value_counts().index[0])
y_pred_tweets.append(y_pred)
print('SVM accuracy %s' % round(accuracy_score(y_pred, y_test_df),2 ))
print(classification_report(y_test_df, y_pred,target_names=label_names))

## LogReg
logreg.fit(tweets_xtrain_df , tweets_ytrain_df)
newy_pred = logreg.predict(tweets_xtest_df)
pred = test_df[['screen_name']].copy()
pred['Lpredict'] = newy_pred
tweet_analysis['Lpredict_lr'] = newy_pred
y_pred = pred.groupby(['screen_name'], sort=False).agg(lambda x:x.value_counts().index[0])
y_pred_tweets.append(y_pred)
print('Logreg accuracy %s' % round(accuracy_score(y_pred, y_test_df),2 ))
print(classification_report(y_test_df, y_pred,target_names=label_names))

Naive Bayes accuracy 0.42
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.83      0.19      0.31        26
               jabodetabek       0.46      0.21      0.29        28
     jawa barat dan banten       0.47      0.56      0.51        32
jawa tengah dan yogyakarta       0.26      0.92      0.41        36
                jawa timur       0.47      0.44      0.45        34
                kalimantan       1.00      0.18      0.31        22
          maluku dan papua       1.00      0.26      0.41        23
                  sulawesi       1.00      0.25      0.40        20
                  sumatera       0.57      0.41      0.48        29

                  accuracy                           0.42       250
                 macro avg       0.67      0.38      0.40       250
              weighted avg       0.63      0.42      0.40       250

SVM accuracy 0.48
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.82      0.35      0.49        26
               jabodetabek       0.42      0.36      0.38        28
     jawa barat dan banten       0.54      0.59      0.57        32
jawa tengah dan yogyakarta       0.28      0.89      0.43        36
                jawa timur       0.52      0.41      0.46        34
                kalimantan       0.71      0.23      0.34        22
          maluku dan papua       0.92      0.48      0.63        23
                  sulawesi       1.00      0.40      0.57        20
                  sumatera       0.92      0.41      0.57        29

                  accuracy                           0.48       250
                 macro avg       0.68      0.46      0.49       250
              weighted avg       0.65      0.48      0.49       250

Logreg accuracy 0.58
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.88      0.54      0.67        26
               jabodetabek       0.38      0.39      0.39        28
     jawa barat dan banten       0.53      0.62      0.57        32
jawa tengah dan yogyakarta       0.43      0.92      0.59        36
                jawa timur       0.55      0.62      0.58        34
                kalimantan       0.86      0.27      0.41        22
          maluku dan papua       0.94      0.65      0.77        23
                  sulawesi       1.00      0.45      0.62        20
                  sumatera       0.71      0.52      0.60        29

                  accuracy                           0.58       250
                 macro avg       0.70      0.55      0.58       250
              weighted avg       0.66      0.58      0.58       250

CPU times: user 38min 42s, sys: 21min 41s, total: 1h 24s
Wall time: 1min 16s

### LSTM

Link to [LSTM majority vote](LSTM-vote.ipynb)

In [285]:
lstm_majority = pd.read_csv('lstm_result/lstm_majority_vote.csv')

accuracy 0.46
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.89      0.31      0.46        26
               jabodetabek       0.38      0.18      0.24        28
     jawa barat dan banten       0.67      0.50      0.57        32
jawa tengah dan yogyakarta       0.76      0.44      0.56        36
                jawa timur       0.22      0.88      0.35        34
                kalimantan       0.78      0.32      0.45        22
          maluku dan papua       0.94      0.65      0.77        23
                  sulawesi       0.75      0.45      0.56        20
                  sumatera       1.00      0.34      0.51        29

                  accuracy                           0.46       250
                 macro avg       0.71      0.45      0.50       250
              weighted avg       0.69      0.46      0.49       250

### Setting word2vec

In [289]:
if not os.path.exists('Word2Vec_400dim.txt'):
  os.system('gdown https://drive.google.com/uc?id=1L6vzEGcojvEecWt_Ide357THYwMRycGv')

In [290]:
# Ambil word2vec setiap kata
# https://github.com/vijayaiitk/NLP-text-classification-model/issues/1
# https://github.com/RaRe-Technologies/gensim/wiki/Migrating-from-Gensim-3.x-to-4
import gensim

modelword2vec = gensim.models.KeyedVectors.load_word2vec_format("Word2Vec_400dim.txt", binary=False)

w2v = dict(zip(modelword2vec.index_to_key, modelword2vec.vectors))


class MeanEmbeddingVectorizer(object):
    def __init__(self, word2vec):
        self.word2vec = word2vec
        self.dim = len(word2vec['dan'])
        
    def tokenize(self, sentences):
        return [sentence.lower().split(" ") for sentence in sentences]

    
    def transform(self, X):
        # Ambil kata-katanya lalu rata-rata
        return np.array([
            np.mean([self.word2vec[w] for w in words if w in self.word2vec]
                    or [np.zeros(self.dim)], axis=0)
            for words in X
        ])
    
vectorizer = MeanEmbeddingVectorizer(w2v)

### Word2vec + ML

In [291]:
from sklearn.preprocessing import MinMaxScaler

minmax_Sc = MinMaxScaler()

train_X = vectorizer.transform(vectorizer.tokenize(tweets_xtrain_df))
nbtrain_X = minmax_Sc.fit_transform(train_X)
test_X = vectorizer.transform(vectorizer.tokenize(tweets_xtest_df))
nbtest_X = minmax_Sc.transform(test_X)
val_X = vectorizer.transform(vectorizer.tokenize(tweets_xval_df))

train_Y = tweets_ytrain_df
test_Y = tweets_ytest_df
val_Y = tweets_yval_df

In [297]:
new_nb = MultinomialNB()
new_svm = svm.SVC()
new_logreg = LogisticRegression(solver='lbfgs', multi_class='multinomial')

In [298]:
%%time
## Naive Bayes 
new_nb.fit(nbtrain_X , train_Y)
newy_pred = new_nb.predict(nbtest_X)
pred = test_df[['screen_name']].copy()
pred['Lpredict'] = newy_pred
y_pred = pred.groupby(['screen_name'], sort=False).agg(lambda x:x.value_counts().index[0])
print('accuracy %s' % round(accuracy_score(y_pred, y_test_df),2 ))
print(classification_report(y_test_df, y_pred,target_names=label_names))


## SVM 
new_sgd.fit(train_X , train_Y)
newy_pred = new_sgd.predict(test_X)
pred = test_df[['screen_name']].copy()
pred['Lpredict'] = newy_pred
y_pred = pred.groupby(['screen_name'], sort=False).agg(lambda x:x.value_counts().index[0])
print('accuracy %s' % round(accuracy_score(y_pred, y_test_df),2 ))
print(classification_report(y_test_df, y_pred,target_names=label_names))
 
## new_logreg
new_logreg.fit(train_X , train_Y)
newy_pred = new_logreg.predict(test_X)
pred = test_df[['screen_name']].copy()
pred['Lpredict'] = newy_pred
y_pred = pred.groupby(['screen_name'], sort=False).agg(lambda x:x.value_counts().index[0])
print('accuracy %s' % round(accuracy_score(y_pred, y_test_df),2 ))
print(classification_report(y_test_df, y_pred,target_names=label_names))

accuracy 0.14
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.00      0.00      0.00        26
               jabodetabek       0.00      0.00      0.00        28
     jawa barat dan banten       0.00      0.00      0.00        32
jawa tengah dan yogyakarta       0.14      1.00      0.25        36
                jawa timur       0.00      0.00      0.00        34
                kalimantan       0.00      0.00      0.00        22
          maluku dan papua       0.00      0.00      0.00        23
                  sulawesi       0.00      0.00      0.00        20
                  sumatera       0.00      0.00      0.00        29

                  accuracy                           0.14       250
                 macro avg       0.02      0.11      0.03       250
              weighted avg       0.02      0.14      0.04       250

accuracy 0.24
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.42      0.38      0.40        26
               jabodetabek       0.00      0.00      0.00        28
     jawa barat dan banten       0.36      0.28      0.32        32
jawa tengah dan yogyakarta       0.18      0.78      0.29        36
                jawa timur       0.00      0.00      0.00        34
                kalimantan       0.40      0.09      0.15        22
          maluku dan papua       0.83      0.22      0.34        23
                  sulawesi       0.50      0.05      0.09        20
                  sumatera       0.19      0.17      0.18        29

                  accuracy                           0.24       250
                 macro avg       0.32      0.22      0.20       250
              weighted avg       0.29      0.24      0.20       250

accuracy 0.28
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.75      0.23      0.35        26
               jabodetabek       0.21      0.25      0.23        28
     jawa barat dan banten       0.43      0.50      0.46        32
jawa tengah dan yogyakarta       0.22      0.47      0.30        36
                jawa timur       0.17      0.29      0.21        34
                kalimantan       0.00      0.00      0.00        22
          maluku dan papua       0.77      0.43      0.56        23
                  sulawesi       0.50      0.05      0.09        20
                  sumatera       0.16      0.10      0.12        29

                  accuracy                           0.28       250
                 macro avg       0.36      0.26      0.26       250
              weighted avg       0.34      0.28      0.27       250

CPU times: user 52.2 s, sys: 18.6 s, total: 1min 10s
Wall time: 6.26 s

### Word2vec + LSTM

link to [LSTM-vote-worc2vec.ipynb](LSTM-vote-worc2vec.ipynb)

In [300]:
lstm_w2v = pd.read_csv('lstm_result/lstm_majority_vote_word2vec.csv')

accuracy 0.38
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.70      0.27      0.39        26
               jabodetabek       0.67      0.07      0.13        28
     jawa barat dan banten       0.62      0.31      0.42        32
jawa tengah dan yogyakarta       0.60      0.33      0.43        36
                jawa timur       0.20      0.91      0.33        34
                kalimantan       0.67      0.18      0.29        22
          maluku dan papua       0.79      0.65      0.71        23
                  sulawesi       0.71      0.25      0.37        20
                  sumatera       0.71      0.34      0.47        29

                  accuracy                           0.38       250
                 macro avg       0.63      0.37      0.39       250
              weighted avg       0.61      0.38      0.39       250

### BERT based

link to [indoBERTweet](IndoBERTtweet-2e5-4%20epochs-Vote.ipynb)
link to [indoNLU](indoNLU2e-5batch16-Vote.ipynb)
link to [indoLEM](indoLEM2e-5batch16-Vote.ipynb)

In [ ]:
indoBERTweet 

accuracy 0.56
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.38      0.83      0.53        12
               jabodetabek       0.79      0.29      0.43        75
     jawa barat dan banten       0.78      0.42      0.54        60
jawa tengah dan yogyakarta       0.61      0.81      0.70        27
                jawa timur       0.47      1.00      0.64        16
                kalimantan       0.32      0.78      0.45         9
          maluku dan papua       0.57      1.00      0.72        13
                  sulawesi       0.45      1.00      0.62         9
                  sumatera       0.55      0.55      0.55        29

                  accuracy                           0.56       250
                 macro avg       0.55      0.74      0.58       250
              weighted avg       0.66      0.56      0.54       250

            
indoNLU 

accuracy 0.48
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.38      0.62      0.48        16
               jabodetabek       0.32      0.53      0.40        17
     jawa barat dan banten       0.59      0.73      0.66        26
jawa tengah dan yogyakarta       0.94      0.26      0.40       132
                jawa timur       0.26      0.82      0.40        11
                kalimantan       0.23      0.83      0.36         6
          maluku dan papua       0.61      1.00      0.76        14
                  sulawesi       0.50      0.91      0.65        11
                  sumatera       0.38      0.65      0.48        17

                  accuracy                           0.48       250
                 macro avg       0.47      0.71      0.51       250
              weighted avg       0.71      0.48      0.47       250

## Vote the results

In [318]:
indoBERTweetbestResults = pd.read_csv('bert_result/indoBERTweet2e_5ResultsVote.csv', index_col=0)

In [319]:
vote_df = pd.DataFrame({'uname_nb': y_pred_uname[0], 'uname_svm':  y_pred_uname[1], 'uname_lr': y_pred_uname[2],
                        'desc_nb': y_pred_desc[0], 'desc_svm':  y_pred_desc[1], 'desc_lr': y_pred_desc[2],
                        'tweets_nb': y_pred_tweets[0]['Lpredict'].values, 'tweets_svm':  y_pred_tweets[1]['Lpredict'].values, 'tweets_lr': y_pred_tweets[2]['Lpredict'].values,
                        'tweets_indoBERTweet' : indoBERTweetbestResults.Lpredict.values
                       })
vote_df

,uname_nb,uname_svm,uname_lr,desc_nb,desc_svm,desc_lr,tweets_nb,tweets_svm,tweets_lr,tweets_indoBERTweet
0,3,3,3,3,8,3,4,4,4,1
1,3,3,3,4,3,1,3,3,3,1
2,3,3,3,8,3,8,3,4,3,1
3,3,3,3,3,3,3,1,1,1,1
4,3,3,3,1,1,1,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...
245,4,4,4,2,3,2,3,3,3,1
246,3,3,3,3,3,3,3,3,3,2
247,3,3,3,8,3,8,4,4,4,4
248,3,3,3,3,3,3,3,3,3,3
249,3,3,3,1,1,1,3,3,3,2

In [320]:
mode_nb = vote_df[['uname_nb', 'desc_nb', 'tweets_nb']].mode(axis=1)
vote_df['majority_nb'] = np.where(mode_nb.isna().any(1), mode_nb[0], mode_nb[2])

mode_svm = vote_df[['uname_svm', 'desc_svm', 'tweets_svm']].mode(axis=1)
vote_df['majority_svm'] = np.where(mode_svm.isna().any(1), mode_svm[0], mode_svm[2])

mode_lr = vote_df[['uname_lr', 'desc_lr', 'tweets_lr']].mode(axis=1)
vote_df['majority_lr'] = np.where(mode_lr.isna().any(1), mode_lr[0], mode_lr[2])

mode_indoBERTweet = vote_df[['uname_lr', 'desc_lr', 'tweets_indoBERTweet']].mode(axis=1)
vote_df['majority_indoBERTweet'] = np.where(mode_indoBERTweet.isna().any(1), mode_indoBERTweet[0], mode_indoBERTweet[2])

vote_df = vote_df.astype(int)

In [321]:
## Naive Bayes 
print('Naive Bayes accuracy %s' % round(accuracy_score(y_test_df, vote_df.majority_nb),2 ))
print(classification_report(y_test_df, vote_df.majority_nb,target_names=label_names))

## SVM
print('SVM accuracy %s' % round(accuracy_score(y_test_df, vote_df.majority_svm),2 ))
print(classification_report(y_test_df, vote_df.majority_svm,target_names=label_names))

## LR 

print('LR accuracy %s' % round(accuracy_score(y_test_df, vote_df.majority_lr),2 ))
print(classification_report(y_test_df, vote_df.majority_lr,target_names=label_names))

## IndoBERTweet

print('IndoBERTweet accuracy %s' % round(accuracy_score(y_test_df, vote_df.majority_indoBERTweet),2 ))
print(classification_report(y_test_df, vote_df.majority_indoBERTweet,target_names=label_names))

Naive Bayes accuracy 0.4
                            precision    recall  f1-score   support

    bali dan nusa tenggara       1.00      0.15      0.27        26
               jabodetabek       0.71      0.18      0.29        28
     jawa barat dan banten       0.70      0.44      0.54        32
jawa tengah dan yogyakarta       0.28      0.97      0.43        36
                jawa timur       0.37      0.38      0.38        34
                kalimantan       1.00      0.23      0.37        22
          maluku dan papua       0.60      0.26      0.36        23
                  sulawesi       1.00      0.30      0.46        20
                  sumatera       0.36      0.45      0.40        29

                  accuracy                           0.40       250
                 macro avg       0.67      0.37      0.39       250
              weighted avg       0.63      0.40      0.39       250

SVM accuracy 0.4
                            precision    recall  f1-score   support

    bali dan nusa tenggara       1.00      0.19      0.32        26
               jabodetabek       0.80      0.14      0.24        28
     jawa barat dan banten       0.83      0.31      0.45        32
jawa tengah dan yogyakarta       0.26      0.97      0.40        36
                jawa timur       0.40      0.29      0.34        34
                kalimantan       0.83      0.23      0.36        22
          maluku dan papua       0.82      0.39      0.53        23
                  sulawesi       1.00      0.35      0.52        20
                  sumatera       0.36      0.52      0.42        29

                  accuracy                           0.40       250
                 macro avg       0.70      0.38      0.40       250
              weighted avg       0.66      0.40      0.39       250

LR accuracy 0.49
                            precision    recall  f1-score   support

    bali dan nusa tenggara       1.00      0.38      0.56        26
               jabodetabek       0.75      0.21      0.33        28
     jawa barat dan banten       0.74      0.44      0.55        32
jawa tengah dan yogyakarta       0.33      0.94      0.49        36
                jawa timur       0.39      0.47      0.43        34
                kalimantan       0.86      0.27      0.41        22
          maluku dan papua       0.75      0.52      0.62        23
                  sulawesi       1.00      0.35      0.52        20
                  sumatera       0.46      0.62      0.53        29

                  accuracy                           0.49       250
                 macro avg       0.70      0.47      0.49       250
              weighted avg       0.66      0.49      0.49       250

IndoBERTweet accuracy 0.48
                            precision    recall  f1-score   support

    bali dan nusa tenggara       0.89      0.31      0.46        26
               jabodetabek       0.50      0.39      0.44        28
     jawa barat dan banten       0.88      0.44      0.58        32
jawa tengah dan yogyakarta       0.31      0.86      0.46        36
                jawa timur       0.44      0.41      0.42        34
                kalimantan       1.00      0.32      0.48        22
          maluku dan papua       0.77      0.43      0.56        23
                  sulawesi       1.00      0.30      0.46        20
                  sumatera       0.39      0.62      0.48        29

                  accuracy                           0.48       250
                 macro avg       0.69      0.45      0.48       250
              weighted avg       0.65      0.48      0.48       250

## Tweet Level Analysis

In [322]:
indoBERTweetResults_tweetlvl = pd.read_csv('bert_result/indoBERTweetTweetslevel.csv', index_col=0)

In [323]:
tweet_analysis['Lpredict_BERT'] = indoBERTweetResults_tweetlvl['0']

In [325]:
tweet_analysis.to_csv('periksaa.csv')